
<div class="row">
  <div class="col-md-12">

    <fieldset>
      <legend class="width165">
        <h5><i class="fa fa-user-times"></i> Delete Contact</h5>
      </legend>

      <div class="row">
        <div class="form-group">
          Are you sure you want to delete contact '{{contact.name}}'? <br />

          <div class="pull-left">
            <button class="btn btn-outline-danger" (click)="deleteContact(contact.entryId)">
              <i class="fa fa-check"></i> Yes
            </button>

            &nbsp;

            <a class="btn btn-secondary" routerLink="/phonebook">
              <i class="fa fa-times"></i> Cancel
            </a>
          </div>
        </div>
      </div>


    </fieldset>

  </div>
</div>




