

<div class="row">
  <div class="col-md-12">

    <fieldset>
      <legend class="width200">
        <h5><i class="fa fa-address-book"></i> {{phoneBook.name}}</h5>
      </legend>

      <div class="row">
        <p class="col-md-12">
          <a class="btn btn-outline-secondary"
             routerLink="/phonebook/contact/create">
            <i class="fa fa-plus"></i> Add Contact
          </a>
        </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-search-contact
               (loading)="loading = $event"
               (contacts)="searchResults($event)">
          </app-search-contact>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class='bordered table table-striped' aria-labelledby="tableLabel">
            <thead>
              <tr *ngIf="phoneBook.entries.length > 0">
                <th>Name</th>
                <th>Phone Number</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of phoneBook.entries">
                <td>{{ entry.name }}</td>
                <td>{{ entry.phoneNumber }}</td>
                <td>
                  <a class="btn btn-outline-success"
                     routerLink="/phonebook/contact/edit/{{entry.entryId}}">
                    <i class="fa fa-pencil"></i>
                  </a>

                  <a class="btn btn-outline-danger"
                     routerLink="/phonebook/contact/delete/{{entry.entryId}}">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="3" *ngIf="phoneBook.entries.length === 0">
                  <div style="font-style:italic">
                    No data to display
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </fieldset>

  </div>
</div>




