
<div class="row">
  <div class="col-md-12">

    <fieldset>
      <legend class="width165">
        <h5><i class="fa fa-user-circle"></i> Edit Contact</h5>
      </legend>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text width50">Full Name</span>
        </div>
        <input class="form-control" [(ngModel)]="contact.name" />
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text width50">Phone Number</span>
        </div>
        <input class="form-control" [(ngModel)]="contact.phoneNumber" />
      </div>

      <br />
      <div>
        <div class="pull-left">
          <button class="btn btn-outline-danger" (click)="updateContact(contact)">
            <i class="fa fa-check"></i> Update
          </button>

          &nbsp;&nbsp;

          <a class="btn btn-secondary" routerLink="/phonebook">
            <i class="fa fa-arrow-circle-left"></i> Back
          </a>
        </div>
      </div>

    </fieldset>

  </div>
</div>




