@model ExceptionContext

@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Not Authorized</h2>
    <img src="~/Content/Images/lock.jpg" />
    <h3><span style="color: red">You do not have permissions to access this page.</span></h3>    
</div>


