/* ================================ main layout ================================ */

.content-wrapper {
    margin: 0 auto;
    max-width: 950px;
}
	.white {
		background-color: white !important
	}

input.ng-invalid.ng-dirty {
	border: 1px solid red;
}

/* ================================ Header ================================ */
.wrap {
    position: relative;
    overflow: hidden;
}

.sbvIcon {
    float: left;
    margin: 10px 0 0 20px;
}

.sbvlogo {
    float: left;
    margin: 10px 0 0 20px;
    
}

.login {
    float: left;
    margin: 40px 0 0 40px;
}

/* ===================================== Site Menu ===================================*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    position: relative;
    margin: 0;
    padding: 0;
}

.updateProgress {
	display: none;
}

.block-content {
	height: 100% !important;
}

.display-block { display:block !important; }

.display-none { display:none !important; }

.has-error { color: red !important; }

.help-block { width: 230px !important; }

.validationError { border: solid 1px red !important; }

.form-group .help-block { display: none; }

.form-group.has-error .help-block {
    display: block;
    padding-bottom: 10px;
}

#cssmenu {
    height: 49px;
    border-bottom: 2px solid #0fa1e0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #141414;
    background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
    background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
    background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
    background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
    background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%;
}

    #cssmenu:after,
    #cssmenu ul:after {
        display: block;
        clear: both;
        content: '';
    }

    #cssmenu a {
        display: inline-block;
        padding: 0 20px;
        background: #141414;
        background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
        background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
        background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
        background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
        background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        line-height: 49px;
    }
    
    input[type='text']:focus, input[type='password']:focus, select.dropdownInput:focus, textarea:focus {
      border-color: #66afe9 !important;
      outline: 0 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    }

    #cssmenu ul {
        list-style: none;
    }

    #cssmenu > ul {
        float: left;
    }

        #cssmenu > ul > li {
            float: left;
        }

            #cssmenu > ul > li:hover:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                margin-left: -10px;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #0fa1e0;
                border-left: 10px solid transparent;
                content: '';
            }

            #cssmenu > ul > li:first-child > a {
                -moz-border-radius: 5px 0 0 0;
                -webkit-border-radius: 5px 0 0 0;
                border-radius: 5px 0 0 0;
            }

            #cssmenu > ul > li:last-child > a {
                -moz-border-radius: 0 5px 0 0;
                -webkit-border-radius: 0 5px 0 0;
                border-radius: 0 5px 0 0;
            }

            #cssmenu > ul > li.active > a {
                background: #070707;
                background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
                background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
                background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%;
                -moz-box-shadow: inset 0 0 3px #000000;
                -webkit-box-shadow: inset 0 0 3px #000000;
                box-shadow: inset 0 0 3px #000000;
            }

            #cssmenu > ul > li:hover > a {
                background: #070707;
                background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
                background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
                background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%;
                -moz-box-shadow: inset 0 0 3px #000000;
                -webkit-box-shadow: inset 0 0 3px #000000;
                box-shadow: inset 0 0 3px #000000;
            }

    #cssmenu .has-sub {
        z-index: 1;
    }

        #cssmenu .has-sub:hover > ul {
            display: block;
        }

        #cssmenu .has-sub ul {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            width: 200px;
        }

            #cssmenu .has-sub ul li {
                *margin-bottom: -1px;
            }

                #cssmenu .has-sub ul li a {
                    display: block;
                    padding: 10px;
                    border-bottom: 1px dotted #6fc7ec;
                    background: #0fa1e0;
                    font-size: 11px;
                    line-height: 120%;
                    filter: none;
                }

                #cssmenu .has-sub ul li:hover a {
                    background: #0c7fb0;
                }

        #cssmenu .has-sub .has-sub:hover > ul {
            display: block;
        }

        #cssmenu .has-sub .has-sub ul {
            position: absolute;
            top: 0;
            left: 100%;
            display: none;
        }

            #cssmenu .has-sub .has-sub ul li a {
                border-bottom: 1px dotted #6db2d0;
                background: #0c7fb0;
            }

                #cssmenu .has-sub .has-sub ul li a:hover {
                    background: #095c80;
                }

/* ===================== Footer ========================= */
footer {
    position: relative;
    top: 5px;
    text-align: center;
    font-size: xx-small;
}

/* =================================== Controls ============================= */
/* =============== Text Box ============== */
.tbstyle {
    margin-right: 4px;
    margin-bottom: 8px;
    padding: 3px;
    width: 230px;
    border: 1px solid #d1c7ac;
    background-repeat: repeat-x;
    color: #333333;
    font-family: tahoma, arial, sans-serif;
}
/* ====== required field ============*/
.requiredField {
    color: red;
    text-align: center;
}

/* ======= Divider ================ */
.devideHor {
    clear: both;
    margin: 30px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #DDDDDD;
}
.devideHorSeparator {
    clear: both;
    margin: 5px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #DDDDDD;
}


/* =============== Buttons =============== */
.btnStyle {
    display: inline-block;
    min-width: 150px;
    min-height: 25px;
    border: 1px solid #dcdcdc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background-color: #ededed;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    color: #777777;
    text-align: center;
    text-decoration: none;
    -webkit-text-shadow: 1px 1px 0px #ffffff;
    text-shadow: 1px 1px 0px #ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family: arial;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
}

    .btnStyle:hover {
        background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
        background-color: #dfdfdf;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    }

    .btnStyle:active {
        position: relative;
        top: 1px;
    }


/*=================================================================================*/
/* Select form */
.fe_selectWrap {
    position: relative;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
}

    .fe_selectWrap .fe_select_triggerWrap {
        position: relative;
        top: 0;
        left: 0;
        padding: 0 0 0 9px;
        height: 24px;
        background: url(images/bg_select_topleft_atv.png) no-repeat 0 0;
    }

        .fe_selectWrap .fe_select_triggerWrap a {
            display: block;
            padding: 0 23px 0 0;
            height: 24px;
            background: #fff url(images/bg_select_topright_atv.png) no-repeat right 0;
            color: #666;
            text-align: left;
            text-decoration: none;
            font-size: 11px;
            line-height: 24px;
            cursor: default;
        }

    .fe_selectWrap.disabled .fe_select_triggerWrap {
        background: url(images/bg_select_topleft_atv.png) no-repeat 0 0;
    }

        .fe_selectWrap.disabled .fe_select_triggerWrap a {
            background: #fff url(images/bg_select_topright_atv.png) no-repeat right 0;
            color: #ccc;
        }

    .fe_selectWrap .fe_selectListWrap {
        position: absolute;
        top: 22px;
        left: 0;
        z-index: 500;
    }

        .fe_selectWrap .fe_selectListWrap .fe_selectList {
            position: relative;
            z-index: 500;
            margin: 0;
            padding: 0;
            border: 0 none;
            border: 1px solid #ccc;
            border-bottom: 0 none;
            background-color: #f1f1f1;
        }

            .fe_selectWrap .fe_selectListWrap .fe_selectList li {
                margin: 0;
                padding: 0;
                background-image: none;
                list-style: none;
                line-height: 1;
            }

                .fe_selectWrap .fe_selectListWrap .fe_selectList li:hover {
                    background-color: #ccc;
                }

                .fe_selectWrap .fe_selectListWrap .fe_selectList li a {
                    display: block;
                    padding: 6px 0 6px 7px;
                    color: #666;
                    text-decoration: none;
                    font-size: 11px;
                }

        .fe_selectWrap .fe_selectListWrap .fe_selectListBottom {
            padding: 0 0 0 5px;
            height: 2px;
            background: url(images/bg_select_bottomleft.png) no-repeat 0 bottom;
        }

            .fe_selectWrap .fe_selectListWrap .fe_selectListBottom span {
                display: block;
                height: 2px;
                background: url(images/bg_select_bottomright.png) no-repeat right bottom;
            }

.pageArray .submitStyle {
    margin: 0 0 0 2px;
    height: 24px;
}

.fe_selectWrap .fe_selectListWrap .bottomHover {
    background: url(images/bg_select_bottomleft_hover.png) no-repeat 0 bottom;
}

    .fe_selectWrap .fe_selectListWrap .bottomHover span {
        background: url(images/bg_select_bottomright_hover.png) no-repeat right bottom;
    }

.editclass {
    background-image: url(Images/edit.jpeg);
    display: block;
     width: 15px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
}

.deleteclass {
    background-image: url(Images/trash.png);
    display: block;
     width: 15px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
}

.label
{    
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    color:#000;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00 !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}