<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!--<section name="PathConfiguration" type="Vault.Integration.WebService.PathConfiguration, Vault.Integration.WebService, Version=1.0.0.0, Culture=neutral" />-->
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--<PathConfiguration Path="C:\TFS\MySBVMain\Dev\MySbv\src\Services\Vault.Integration.Host\bin" />-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <!-- Connection String -->

    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MySBVUAT; Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!-- Test -->
		<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVTest;User ID=sbvreloadedsaTest;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />

		<!-- Dev -->
		<!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVDev;User ID=sbvreloadedsaDev;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />-->

		<!-- UAT -->
		<!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVUat;User ID=sbvreloadedsaUat;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />-->

    <!-- Local Connection String -->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MySBVUat; Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Vault.Integration.WebService.VaultService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint behaviorConfiguration="webHttpBehaviour" binding="webHttpBinding" bindingConfiguration="" contract="Vault.Integration.WebService.IVaultService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/MySbvVault" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <!--<extensions>
      <behaviorExtensions>
        <add name="MessageLogger" type="Vault.Integration.WebService.MessageLoggerExtensionElement, Vault.Integration.WebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
          <!--<MessageLogger />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>