<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- UAT Connection String -->
    <!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVUat;User ID=sbvreloadedsaUat;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />-->
    <!-- Test Connection String -->
    <add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVTest;User ID=sbvreloadedsaTest;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />
    <!--DEV-->
    <!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVDev;User ID=sbvreloadedsaDev;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient"/>-->
    <!-- Local Connection String -->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MySBV; Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>