
 --RUN BEFORE DB SEEDING		RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING	
 --RUN BEFORE DB SEEDING		RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING	
 --RUN BEFORE DB SEEDING		RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING	
 --RUN BEFORE DB SEEDING		RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING	
 --RUN BEFORE DB SEEDING		RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING			RUN BEFORE DB SEEDING	


SELECT * 
INTO #DeviceTemp
FROM dbo.Device



 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	
 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	
 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	
 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	
 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	
 --RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING			RUN AFTER DB SEEDING	



INSERT INTO dbo.DeviceType (SupplierId, ManufacturerID, Name, Description, LookUpKey, IsNotDeleted, LastChangedById, LastChangedDate, CreatedById, CreateDate)
SELECT SupplierId,  1, Name, Description, LookUpKey, IsNotDeleted, LastChangedById, LastChangedDate, CreatedById, CreateDate
FROM #DeviceTemp



UPDATE D
SET D.DeviceTypeID = DT.DeviceTypeID
FROM  Device D INNER JOIN dbo.DeviceType DT ON D.Name = DT.Name



UPDATE P
SET P.DeviceTypeID = D.DeviceTypeID
FROM  Product P INNER JOIN dbo.Device D ON D.DeviceID = P.DeviceID
WHERE P.DeviceID IS NOT NULL



UPDATE dbo.Product
SET DeviceID = NULL
WHERE ProductTypeID IN (1, 3)
