@{
    ViewBag.Title = "mySBV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <div class="container">
        <center>
            <h2>@ViewBag.Title</h2>
            <br />

            <img src="~/Content/Images/header1.jpg" />
            <br/><br />

            @*<div style="clear: both">
        <h4>mySBV.deposit</h4><h5 style="float: right"></h5>
    </div>*@
            
            <h4 class="inline">mySBV.deposit</h4><h5 class ="inline">&nbsp;takes manual cash banking out of the equation by making the process electronic.</h5>
            <br /><br />
            <p>Say goodbye to writing out deposit slips and never getting a stamped copy of a deposit slip returned by the bank or CIT company, and hello to
                capturing your cash deposit information online. The description that you capture on mySBV.deposit online is the description that reflects on your
                bank statement – simplifying your reconciliation process.
                That’s convenience! An end-to-end solution and a quick service that saves your business valuable time and reduces risk.
            </p>
            <br />
            
            <img src="~/Content/Images/header2.jpg" />
            <br /><br />
   
            <h4 class="inline">mySBV.vault</h4><h5 class="inline">&nbsp;takes diminishing risk to the next level together with the ability to provide real-time value.</h5>
            <br /><br />
            
            <p>
                Living in a world where headaches and stress are never heard of, where risk is never a factor, that is a world with mySBV.vault. With various cash 
                accepting devices and value propositions including risk management and real-time value add, mySBV.vault is a must have for all retailers and wholesalers 
                alike. Full transaction audit, state of the art bank note validators and real-time access to information and/ or funds, are just some of the value adds 
                of having a mySBV.vault solution. One does not simply lead a carefree lifestyle without mySBV.vault being a part of it.
            </p>
            <br />

        </center>
        <div class="devideHor" style="margin-top: -8px"></div>
    </div>
}


<style type="text/css">
    .inline {
        display: inline;
    }
</style>