<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="PathConfiguration" type="Vault.Integration.WebService.PathConfiguration, Vault.Integration.WebService, Version=1.0.0.0, Culture=neutral"/>-->
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
 <!--<PathConfiguration Path="C:\TFS\MySBVMain\Dev\MySbv\src\Services\Vault.Integration.Host\bin"/>-->
  <connectionStrings>
    <!-- Connection String -->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MySBVUAT; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=tst-mysbv-db01;Initial Catalog=MySBVTest;User ID=sbvreloadedsaTest;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />-->
    <!--DEV-->
    <!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVDev;User ID=sbvreloadedsaDev;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient"/>-->
		<!-- Test -->
		<!--<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVTest;User ID=sbvreloadedsaTest;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient" />-->
		<!-- UAT -->
		<add name="DefaultConnection" connectionString="Data Source=so-labsql-mysbv;Initial Catalog=MySBVUat;User ID=sbvreloadedsaUat;Password=SBVR3l0@d3d" providerName="System.Data.SqlClient"/>
      
    <!-- Local Connection String -->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MySBVUat; Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="mysbvtest@sbv.co.za" deliveryMethod="Network">
        <network host="150.150.0.41" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <remove value="mySbvDeposit.svc" />
        <add value="mysbvdeposit.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    
    <bindings>
      <webHttpBinding>
        <binding name="webHttpConfig">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="Vault.Integration.WebService.VaultService">
        <endpoint behaviorConfiguration="webHttpBehaviour" binding="webHttpBinding" bindingConfiguration="webHttpConfig" contract="Vault.Integration.WebService.IVaultService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/MySbvVault" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="MessageLogger" type="Vault.Integration.WebService.MessageLoggerExtensionElement, Vault.Integration.WebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp helpEnabled="true" />
          <MessageLogger />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>